.gradle
**/build/**
**/build
build
out
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### NODE ###

**/node_modules/**
**/package-lock.json


### Twitter ###
**/twitter4j.properties

### Mapbox ###
**/mapbox.properties