<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>false</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Wrap calls to the console logger with async dispatching to Disruptor. -->
    <appender name="async" class="reactor.logback.AsyncAppender">
        <appender-ref ref="file"/>
    </appender>

    <!-- Direct all logging through the AsyncAppender. -->
    <root level="info">
        <appender-ref ref="file"/>
    </root>

    <logger name="reactor.netty" level="INFO" />

</configuration>